.sidebar {
    height: calc(100% - 90px); 
    width: 40px;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: width 0.5s;
  }
    
 
.sidebar:hover {
  width: 230px;
  box-shadow: 0px 0px 5px 2px #8681814a;

}
  

.sidebar .component {
  padding: 10px;
  margin-bottom: 0;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  text-align: left;
  margin-top: 2px;
  position: relative;
  top: 5px;
  left: 30px;
  height:25px;
  color: 73767B;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
}

  .sidebar .component:hover{
    background-color:#FEEFC3 ;
  }
  
  .openbtn {
    font-size: 25px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 10px 15px;
  border: none;
  position: absolute;
  left: 14px;
  }
  
  .openbtn:hover {
    background-color: #c7c3c3;
    border-radius: 3rem;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  .sidebar.open {
    width: 230px;
    box-shadow: 0px 0px 5px 2px #8681814a;

  }
  
  #main.open {
    margin-left: 250px;
  }
  

  .component-open{
    background-color: #FEEFC3;
  }

  .component-closed{
    background-color: none;
  }

  .side-icon-open{
background-color: none;
  }

  .side-icon-close{
    background-color: #FEEFC3;

  }

  .sidebar {
    height: 100%;
    padding: 10px;
  }
  
  .sidebar.dark {
    background-color: #333;
  }
  
  
  .sidebar .component.dark {
    background-color: #555;
    color: #ffffff;
  }
  
   .component:hover {
    border-radius:40px  ;
    background-color: #FEEFC3;
   
  
  }
  
