.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.app-container {
  display: flex;
  flex: 1;
  width: 100%;
}

main.content{
  width: 10000px;
}

.sidebar {
  height: 100%;
  border: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
}


.sidebar .component {
  padding: 10px;
  margin-bottom: 0;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  text-align: left;
  margin-top: 2px;
  position: relative;
  top: 5px;
  left: 30px;
  height:25px;
  color: 73767B;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
}

 .component:hover {
  border-radius:40px  ;
  background-color: #FEEFC3;
 

}



.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 50px;
  position: fixed;
  top: 0;
  min-width: 1660px;
  border-bottom: #9DBFAF;
  background-color: white ;
  z-index: 1000;
}

.header__logo{
  position: absolute;
  left: 70px;
  justify-content: flex-start;
  cursor: pointer;

}

.header h1 {
  margin: 0;
  position: absolute;
  left: 128px;
  color: #5f6368;
  opacity: 1;
  display: inline-block;
    font-family: "Product Sans", Arial, sans-serif;
    font-size: 28px;
    line-height: 24px;
    font-weight: 1;
}

.search-bar{
  width: 50rem ;
  display: flex;
  height: 3rem;
  position: relative;
  left: -160px;
  font-size: large;
  direction: ltr;
  font: 13px/27px Roboto,Arial,sans-serif;
  white-space: nowrap;
  max-width: 720px;
  position: relative;
  border-radius: 8px;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0px 0px 5px 2px #8681814a;
  margin-left: 0;
  margin-right: 0;

}



.search{
  width: 42rem;
  position: relative;
  left: 22px;
  height: 2.5rem;
  border: none;
  box-shadow: none;
  font-size: large;
  outline: none;
}



.search input{
  border: none;
  outline: none;
}


 .profile-container{
  display: fixed;
  justify-content: flex-end;
  align-items: center;
  height: 10px;
  gap: 3rem;
  font-size:4rem ;
}

.profile-icon{
  position: absolute;
  font-size: 40px;
}


.Add-button {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  border: 0;
  background-color: white;
  padding: 0.25em 0.5em;
  position: relative;
  font-size: .875rem;
  box-sizing: border-box;
    font-weight: 500;
    line-height: 1.25rem;
    height: 36px;
    padding: 8px 24px;
    border-radius: 4px;
}

.note-input {
  width: 570px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 486px;
  letter-spacing: .0142857143em;
    font-family: Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    box-shadow: 0px 0px 5px 2px #8681814a;
}

.note-input.expanded {
  cursor: default;
  font-size: 50px;
}

.note-input input,
.note-input textarea {
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 1px;
  resize: none;
  font-size: 1.2rem;
}

.note-input.expanded input {
  display: block;
}

.note-input textarea {
  height: 23px;
}

.note-input.expanded textarea {
  height: 60px;
}

.note-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.notes-section {
  margin-top: 20px;
  display: inline-block;
  flex-direction: row;
  align-items: center;
  

}

.display-notes{
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  
  gap: 2px;
  min-width: 1300px;
  min-height: 30px;
  overflow-wrap: break-word;
  padding: 10px;
  position: relative;
  left: 200px;
  
}

.note {
  
  padding: 10px;
  border: 1px solid #ddd; 
  border-radius: 10px; 
  box-sizing: border-box;
  min-width:  100px;
  height: fit-content;
  margin-top: 0;
  overflow-wrap: break-word;
  letter-spacing:  .0142857143em;
  font-family:  Roboto, Arial, sans-serif;
  font-size: 0.975rem;
  font-weight: 400;
  line-height: 1.25rem;
  transition: box-shadow;
  transition-duration: 0.3s;
}


.archive-section{
  margin-top: 20px;
  display: inline-block;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: 250px;
  overflow-wrap: break-word;
}

.archive-head {
  text-align: center;
}


.trash-head{
  text-align: center;
}

.trash-section{
  margin-top: 20px;
  display: inline-block;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: 200px;
  overflow-wrap: break-word;

}

.trash-icon{
  font-size: large;
}


.notes-section,
.archive-section,
.trash-section {
  padding: 10px;
  flex: 1;
  margin-top: 100px;
}

.note .options {
  height: 30px;
  width: 100%;
}

.note .options .option-button {
  display: none;
}

.note:hover .option-button {
  direction: ltr;
  font-family: "Roboto",arial,sans-serif;
  pointer-events: auto;
  font-size: 12px;
  line-height: 26px;
  cursor: pointer;
  display: inline-block;
  outline: none!important;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  height: 32px;
  width: 32px;
  margin: 0 3px;
  color: #202124;
  opacity: 0.71;
  user-select: none;
  background-color: none;
}

.note:hover{
  box-shadow: 0px 0px 5px 2px #8681814a;
}

.empty-archive{
  font-family: "Roboto", arial, sans-serif;
  font-size: 25px;
  font-weight: 10px;
  color: #5e5e60;
}

.empty-trash{
  font-family: "Roboto", arial, sans-serif;
  font-size: 25px;
  font-weight: 10px;
  color: #5e5e60;
  
}